.bg-custom-admin {
  background-color: #343a40 !important;
}

.dashboard-title {
  color: white;
  font-weight: 500;
  padding: 0px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.notif{
  background-color: rgb(255, 34, 34);
  border-radius: 20px;
  margin-left: 10px;
  font-size: 11px;
  display: inline-block;
  width: 17px;
  height: 17px;
  text-align: center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.side-icon {
  margin-right: 10px;
  z-index: 1;
  color: white;
  
  /* box-shadow: 0 0 1.2px 0 rgba(0, 0, 0, 1), 0 0 1.2px 0 rgba(0, 0, 0, 1); */
  /* border-radius: 0px 20px 20px 0px; */
  /* background-color: #343A40; */
  font-size: 15px;
  cursor: pointer
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* @media screen and (max-height: 450px) { */
.sidenav {
  padding-top: 15px;
}

.sidenav a {
  font-size: 18px;
}

/* }   */

@media screen and (max-width: 601px) {
  .side-icon {
    visibility: visible;
  }
}

@media screen and (min-width: 600px){
  .side-icon{
    visibility: hidden;
  }
}