.side-bar {
    background-color: #212529;
    min-height: 717px;
    color: white;
    padding-right: 0px;
    padding-left: 0px;
}

.add-btn {
    border: 0.5px solid rgb(202, 202, 202);
    padding: 3px 15px;
    background-color: rgb(212, 212, 212);
    font-size: 14px;
}

.btn-outline-dark{
    margin-left: 5px;
    background-color: rgb(51, 51, 51);
    color: white;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.li-active {
    color: white !important;
    background-color: black;
}

a.link-list {
    color: white !important;
}

a.link-list:hover {
    color: #fff;
}

a {
    text-decoration: none !important;
}

.list-color {
    color: rgb(109, 109, 109);
}

.list-color:hover {
    color: #fff;
    font-weight: 100;
}

.center {
    text-align: center;
    vertical-align: center;
}

.justify-content-center {
    justify-content: center;
}

.col-5-cst {
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 46.5%;
    min-width: 251px;
    flex: 0 0 46.5%;
}

#user {
    margin-left: auto;
    margin-right: auto;
}

.text-detail-cst {
    font-size: 13px;
    line-height: 20px;
}

#kategoriData {
    padding-left: 20px;
    font-weight: 400;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.p-cst {
    padding-top: 20px;
    padding-left: 50px;
}

.background-cst {
    background-color: white;
    border-radius: 7px;
}

.red {
    color: rgb(255, 73, 73);
}

.ocean {
    color: rgb(98, 199, 177);
}

.green {
    color: rgb(83, 177, 83);
}

.blue {
    color: rgb(68, 134, 255);
}

.orange {
    color: rgb(255, 185, 55);
}

.border-right {
    border-right: 1px solid black !important;
    height: 50px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
    margin-right: auto;
}

.title-card {
    font-size: 20px;
    font-weight: 500;
}

.col-3-cst {
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 30%;
    min-width: 251px;
    flex: 0 0 30%;
    justify-content: space-around;
}

.content-border-admin {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.171);
}

.li:hover {
    background-color: #101214;
    color: white;
}

.no-border {
    border: none !important;
}

.m-3-custom {
    margin: 5px !important;
}

.border-bottom {
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.5) !important;
}

.f50 {
    font-size: 50px;
}

.kontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.center {
    text-align: center;
}

.text-detail {
    font-size: 20px;
    position: absolute;
    top: 50%;
}

.btn-orange {
    font-family: 'Noto Sans', sans-serif;
    background-color: orange;
    font-size: 12px;
    border: none;
    color: white;
    font-weight: 300;
    margin: 5px;
    padding: 2px 12px;
    width: 100px;
    height: 25px;
    box-shadow: 0 3px 3px 0 rgba(26, 26, 26, 0.158), 0 0 3px 0 rgba(27, 27, 27, 0.397);
    /* border-radius: 3px; */
}

.btn-orange:hover {
    background-color: rgb(218, 142, 2);
}

@media screen and (max-width: 770px) {
    .m-3-custom {
        margin: 5px !important;
        max-width: 45%;
    }

    .side-bar {
        max-width: 0px;
    }

    .col-10 {
        max-width: 100%;
        flex: 0 0 100%;
    }


}