html{
    overflow: auto;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(248, 248, 248);
}

.bg-custom{
    background-color: rgb(95, 218, 255);
}

.shadow-nav{
    box-shadow: 0 2px 10px 1px rgba(48, 48, 48, 0.329);
}



.market-bg{
    background-image: url('../assets/bg/building.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.detail-keranjang{
    border: none !important; 
    border-top: 2px solid #33C8FF !important;  
    position: sticky; 
    position: -webkit-sticky; 
    top: 70px;
}

.sticky{
    position: sticky; 
    position: -webkit-sticky; 
    top: 70px;
}

.market{
    height: 100px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.profile-text{
    color: white;
    text-decoration: none;
}

.profile-text:hover{
    text-decoration: none;
    color: white;
}

.text-prof-market{
    margin-top: auto; margin-bottom: auto;
}

.input{
    border-radius: 5px;
    border: none;
    padding: 5px;
    padding-left: 10px;
    background-color: rgb(245, 252, 255);
    z-index: 2;
}

a:hover{
    text-decoration: none;
    color: orange;
    font-weight: bold;  
}

footer .main-footer{	
    padding: 20px 0;	
    background-color: rgb(95, 218, 255);
}

.copyright{
    text-align: center;
    background-color: rgb(0, 125, 163);
    color: #fff;
    font-size: 12px;
}

.password{
    margin-top: 30px;
}

.admin-login-bg{
    min-width: 200px;
    max-width: 850px;
    background-color: #fff;
    width: 100%;
    margin: auto;
    padding: 20px 80px;
}

.login-bg{
    background-color: #fff;
    width: 100%;
    margin: auto;
    height: 500px;
    padding: 20px 80px;
    
}

.login-text{
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.li-active{
    color: white;
    background-color: black ;
}

.list-color{
    color: rgb(109, 109, 109);
}

.list-color:hover{
    color: #fff;
    font-weight: 100;
}

.dashboard-title{   
    color: white;
    font-weight: 500;
}

.side-bar{
    background-color: #212529;
    min-height: 717px;
    color: white;
    padding-right: 0px;
    padding-left: 0px;
}

.bg-cover{
    height: 730px;
    background: rgb(93, 204, 255);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 100px;
}

.bg-custom-admin{
    background-color: #343a40 !important;
}

.bg-cover-admin{
    height: 730px;
    background-color: rgb(48, 73, 85);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 100px;

}

.judul-text{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #fff;
}

.bg-black{
    z-index: 2;
    position: none;
    display: block;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.login-judul{
    font-size: 50px;
}

.login-input{
    min-width: -webkit-fill-available;
}

.login-body{
    text-align: left;
}

.center{
    text-align: center;
    vertical-align: center;
}

.navbar-icon{
    width: 30px;
    height: 30px;
}

.wish-list:hover{
    color: rgb(235, 235, 235);
}

.fa-trash:hover{
    cursor: pointer;
}

.fixed{
    position: fixed;
    width: 100%;
    z-index: 3;
}

.content{
    width: 90%;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    z-index: -1;
}

.bg-img{
    background-position: 100% 100%;
    
    background-repeat: no-repeat;
}

.dropdown {
    position: relative;
    display: inline-block;
}

a{
    color: black;
}

a.link-list{
    color: white;
}

a.link-list:hover{
    color: #fff;
    font-weight: 200;
}

.dropdown-item{
    text-align: left;
    font-size: 13px;
    padding: 8px;
    /* padding-bottom: 5px; */
}

.dropdown-item:hover{
   background-color: rgb(223, 223, 223);
}

.box{
    background-color: #fff;
}

.arrow-up{
  width: 0; 
  top: 50px;
  margin-left: 30px;
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid white;
  /* position: absolute; */
}

button:active{
    border-color: none;
}

.profile-mob{
    right: 0;
}

.dropdown-content {
    z-index: 4;
    min-width: 150px;
    width: 100%;
    overflow:hidden;
    max-height:0;
    position: absolute;
}
  
.dropdown:hover .dropdown-content {
    display: block;
    max-height:300px;
}

option{
    font-size: 12px;
}

select{
    font-size: 12px;
}

.m-3-custom{
    margin: 1rem!important;
}

.m-1-custom{
    margin: 5px !important;
}

.btn-look{
    font-family: 'Noto Sans', sans-serif;
    background-color: orange;
    font-size: 15px;
    border: none;
    color: white;
    font-weight: 300;
    margin: 5px;
    padding: 5px 20px;
    width: 100px;
    box-shadow: 0 3px 3px 0 rgba(26, 26, 26, 0.158), 0 0 3px 0 rgba(27, 27, 27, 0.397);
}

.f-13{
    font-size: 13px;
}

.btn-look:hover{
    background-color: rgb(218, 142, 2);
}


.content-border{
    background-color: #fff;
    border: gray 1px solid;
    border-radius: 2px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15), 0 0 3px 0 rgba(0, 0, 0, 0.15);
}

.content-border-admin{
    background-color: #fff;
    border: gray 1px solid;
    border-radius: 2px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15), 0 0 3px 0 rgba(0, 0, 0, 0.15);
}

.content-width{
    max-width: 1100px;
}

.content-height{
    min-height: 10  00px;
}

.input:focus {
    color: rgb(255, 166, 57);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.144);
}

.icon-hw{
    font-size: 1.33333em;
    line-height: .75em;
}

.no-padding{
    padding: 0 !important;
}

.no-border{
    border: none !important;
}

::selection{
    color: white;
    background-color: rgb(58, 193, 255);
}

.footer-text{
    margin-top: 10px;
    color: white;
}

.footer-text-title{
    margin-top: 10px;
    color: white;
    font-weight: bold;
}

.flex-container {
    padding: 0;
    margin-top: 10px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 10px;
  }

.flex-column{
    flex-direction: column;
    display: flex;
}

.d-table{
    display:table;
}

  .flex-container-start {
    padding: 0;
    margin-top: 10px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-bottom: 10px;
  }

.justify-content-center{
    justify-content:center;
}
  
.justify-content-between{
    display: flex;
    justify-content: space-between;
}

.li-item{
    text-decoration: none;
    list-style: none;
}

.ul-item{
    padding: 0;
}

hr.myline{
    margin: 2px !important;
}

.ul-keranjang{
    padding: 10px;
    margin: 0px;
}

.width-img-keranjang{
    width: 100%;
    margin: 1px;
}

.keranjang{
    padding: 5px 20px;
    font-size: 15px;
}

.itm-keranjang{
    list-style: none;
}

.width-item{
    width: 19%;
    padding-left: 0px;
    padding-right: 0px;
}

.title-keranjang{
    margin-top: 2px;
    margin-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 190px;
}    

.price{
    margin-top: 2px;
    margin-left: 5px;
    font-size: 20px;
    color: rgb(255, 186, 82);
}

label{
    font-size:13px;
    margin-top: 10px;
}

.width-img{
    max-width: 150px;
    max-height: 220px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 60px;
}

.red{
    color: red;
}

.input-file{
    /* width: 20px; */
    /* height: 0.1px; */
    /* opacity: 100; */
    display: block;
    padding: 5px 10px;
    background: rgb(67, 211, 255);
    color: #fff;
    font-size: 12px;
    transition: all .4s;
    cursor: pointer;
    width: 120px;
    margin: 0px;
}

.btn-blue{
    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(0, 225, 255);
    font-size: 12px;
    border: none;
    color: white;
    font-weight: 300;
    margin: 5px;
    padding: 2px 12px;
    width: 100px;
    height: 25px;
    box-shadow: 0 3px 3px 0 rgba(26, 26, 26, 0.158), 0 0 3px 0 rgba(27, 27, 27, 0.397);
    /* border-radius: 3px; */
}

.btn-blue:hover{
    background-color: rgb(0, 189, 214);
}

.edit-input{
    width: 100%;
    font-size: 12px;
}

.file{
    top: 0;
    position: absolute;
    opacity: 0;
    left: 0;
}

.author{
    color: rgb(119, 119, 119);
    margin-top: 2px;
    margin-left: 5px;
    font-weight: 200;
}

.rating{
    margin-left: 5px;
}

div.item:hover{
    border: 1px rgba(0, 0, 0, 0.08) solid;
    box-shadow: 0 0 3px 0 rgba(99, 99, 99, 0.03), 0 0 3px 0 rgba(0, 0, 0, 0.03);
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
}

p{
    color: black;
    margin-bottom: 2px;
}

.batas{
    margin-top: 70px;
}

.batas-2{
    margin-top: 50px;
}

span .orange{
    font-family: 'Montserrat', sans-serif !important;
}

.orange{
    color: rgb(255, 187, 61);
}

.orange:hover{
    color: rgb(226, 147, 0);
}

hr{
    margin: 10px 0px !important;
    background-color: rgba(175, 175, 175, 0.103);
}

.nav-link:hover{
    cursor: pointer;
    color:rgb(255, 255, 255) !important;
    font-weight: bold;
}

.nav-active{
    font-weight: bold;
    padding-bottom: 2px;
    color: #fff !important;
}

.background-menu{
    position: absolute;
    top: 0px;
    width:100%;
    height: 450px;
    background-image: url('../assets/bg/vandan.jpg');
    z-index: -99;
}

.signup-bg{
    background-color: #fff;
    width: 100%;
    margin: auto;
    height: 600px;
    padding: 20px 80px;
}

.content-title{
    font-weight: bold;
    font-size: 20px;
}

.content-link{
    margin-top: 15px;
    color: rgb(0, 217, 255);
    font-size: 10px;
    font-weight: bold;
}

.margin-top-detail{
    margin-top: 70px;
}

.line{
    background-color: rgb(223, 223, 223);
}


.btn-buy{
    font-family: 'Noto Sans', sans-serif;
    background-color: orange;
    font-size: 12px;
    border: none;
    color: white;
    font-weight: 300;
    margin: 5px;
    padding: 2px 12px;
    width: 100px;
    height: 25px;
    box-shadow: 0 3px 3px 0 rgba(26, 26, 26, 0.158), 0 0 3px 0 rgba(27, 27, 27, 0.397);
    /* border-radius: 3px; */
}

.btn-buy:hover{
    background-color: rgb(218, 142, 2);
}


.btn-orange{
    font-family: 'Noto Sans', sans-serif;
    background-color: orange;
    font-size: 12px;
    border: none;
    color: white;
    font-weight: 300;
    margin: 5px;
    padding: 2px 12px;
    width: 100px;
    height: 25px;
    box-shadow: 0 3px 3px 0 rgba(26, 26, 26, 0.158), 0 0 3px 0 rgba(27, 27, 27, 0.397);
    /* border-radius: 3px; */
}

.btn-orange:hover{
    background-color: rgb(218, 142, 2);
}

.content-title-detail{
    font-size: 12px;
    font-weight: bold;
}

.content-description-detail{
    font-size: 13px;
}

.btn-wishlist{
    /* border-radius: 3px; */
    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(0, 182, 182);
    border: none;
    font-size: 12px;
    color: white;
    font-weight: 300;
    margin: 5px;
    padding: 2px 12px;
    width: 100px;
    height: 25px;
    box-shadow: 0 3px 3px 0 rgba(26, 26, 26, 0.158), 0 0 3px 0 rgba(27, 27, 27, 0.397);
}

.btn-wishlist:hover{
    background-color: rgb(0, 116, 116);
}

@media screen and (min-width: 771px) {

.d-table{
    max-width: 5%;
}

.dropdown-content {
    top: 27px;
}


.col-8-custom{
    flex: 0 0 66.666667%; 
    max-width: 66.666667%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-10-custom{
    flex: 0 0 83.333334%; 
    max-width: 83.333334%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-12-custom{
    flex: 0 0 100%; 
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-4-custom{
    flex: 0 0 33.333333%; 
    max-width: 33.333333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.login-bg{
    min-width: 400px;
    max-width: 850px;
}


.signup-bg{
    min-width: 400px;
    max-width: 850px;    
}

.search{
    margin-right: 10px;  
}
    
    p{
        font-size: 12px;
    }

    .item-detail{
        min-width: 150px;
        width: 20%;
    }

    .detail-title{
        margin-top: 2px;
        margin-left: 5px;
        font-size: 15px;
        font-weight: bold;
    }  

    .title-detail-keranjang{
        margin-top: 2px;
        margin-bottom: 20px;
        margin-left: 5px;
        font-size: 20px;
        font-weight: bold;
    }  

    .detail-author{
        margin-left: 5px;
        font-size: 13px;
        color: rgb(81, 191, 255);
    }

    .author-keranjang{
        margin-left: 5px;
        font-size: 13px;
        color: rgb(160, 160, 160);
    }

    .detail-price{
        color: rgb(0, 204, 255);
        font-weight: 900;
        font-size: 15px;
    }

    .delete-icon{
        font-size: 20px;
    }
    
    .price-keranjang{
        margin-top: 2px;
        margin-left: 5px;
        font-size: 20px;
        font-weight: bold;
        color: rgb(255, 186, 82);
    }

    .desc-detail{
        font-size: 15px;
        font-weight: bold;
    }

    .detail{
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        font-size: 18px;
        color: rgb(0, 201, 228);
    }
    
    .flex-item {
        padding: 0px;
        width:150px;
        height: auto;
        margin-top: 10px;
        color: white;
        font-weight: bold;
        font-size: 3em;
    
    }

    .title{
        margin-top: 2px;
        margin-left: 5px;
        overflow: hidden;
        font-size: 16px;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 142px;
    }    

    .content-border{
        margin-bottom: 30px;
    }

    .prof{
        min-width: 150px;
        padding: 5px 2px;
        background-color: transparent;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 770px) {
    .title-detail{
        font-size: 20px;
    }

    .admin-login-bg{
        padding: 30px;
    }

    .author{
        font-size: 10px;
        color: rgb(119, 119, 119);
        margin-top: 2px;
        margin-left: 5px;
        font-weight: 200;
    }

    .back-text{
        font-size: 14px;
    }

    .batas-2{
        margin-top: 80px;
    }
    .m-3-custom{
        margin: 5px !important;
        max-width: 45%;
    }

    .m-1-custom{
        margin: 5px !important;
        max-width: 45%;
    }

    .price-keranjang{
        font-size: 17px;
        color: rgb(255, 186, 82);
    }

    .background-menu{
        height: 330px;
    }
    .bg-cover{
        padding: 30px 15px;
    }

    .judul-text{
        font-size: 25px;
        margin-bottom: 20px;
    }

    .login-judul{
        font-size: 40px;
    }

    .login-bg{
        padding: 35px;
    }

    .signup-bg{
        padding: 35px;
        height: 650px;
    }
    
    .col-4-custom{
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .col-8-custom{
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .col-10-custom{
        position: relative;
        width: 100%;
    }

f    p{
        font-size: 10px;
    }

    .item-detail{
        min-width: 150px;
        width: 40%;
    }

    .text {
        display: block;
        width: 40px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .title{
        font-size: 12px;
        margin-top: 2px;
        margin-left: 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: auto;
        max-width: 120px;
    }

    .detail-title{
        font-size: 13px;
    }  
    
    .detail-author{
        font-size: 12px;
        color: rgb(90, 90, 90);
    }

    .detail{
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        font-size: 15px;
        color: rgb(0, 201, 228);
    }

    .desc-detail{
        font-size: 12px;
        font-weight: bold;
    }

    .hide{
        visibility: hidden;
        position: absolute;
    }

    .detail-rating{
        font-size: 12px;
    }

    .detail-price{
        font-size: 15px;
        color: rgb(250, 36, 36);
        font-weight: bold;
    }

      .flex-item {
        padding: 0px;
        width: 75px;
        margin: 2px;
        height: auto;
        margin-top: 10px;
        color: white;
        font-weight: bold;
        font-size: 3em;
    }

    .content-border{
        margin-bottom: 30px;
    }
    
    .prof{
        background-color: transparent;
        visibility: hidden;
        position: absolute;
    }
  }