.side-bar {
    background-color: #212529;
    min-height: 717px;
    color: white;
    padding-right: 0px;
    padding-left: 0px;
}

.li-active {
    color: white !important;
    background-color: black;
}

#search {
    border: 0.5px solid rgba(116, 115, 115, 0.336);
    width: 200px;
    padding: 5px 5px 5px 12px;
    border-radius: 12px;
}

#search:focus {
    outline: none !important;
    box-shadow: 0 0 5px rgba(63, 63, 63, 0.415);
}


a.link-list {
    color: white !important;
}

.book-image {
    max-width: 200px !important;
    height: auto;
}

a.link-list:hover {
    color: #fff;
}

.list-tag {
    font-weight: bold;
    margin-bottom: 10px;
}

.day {
    padding: 8px;
    margin-left: 15px;
    overflow: auto;
    width: 65px;
    border: 0.7px solid rgba(128, 128, 128, 0.411);
    font-size: 16px;
    height: 30px;
}

.day:focus {
    border: transparent 1px solid;
    box-shadow: 0 0 20px rgba(0, 157, 255, 0.415);
}

.table-overflow {
    overflow: auto;
    width: 100%;
}

.btn-detail-orange {
    font-family: 'Noto Sans', sans-serif;
    background-color: orange;
    font-size: 12px;
    border: none;
    color: white;
    font-weight: 300;
    padding: 5px 20px;
    width: 100px;
}

.btn-detail-orange:hover {
    background-color: rgb(214, 139, 0);
}

a {
    text-decoration: none !important;
}

.list-color {
    color: rgb(109, 109, 109);
}

.list-color:hover {
    color: #fff;
    font-weight: bold;
}

.center {
    text-align: center;
    vertical-align: center;
}

.justify-content-center {
    justify-content: center;
}

.content-border-admin {
    background-color: #fff;
    border: gray 1px solid;
    border-radius: 2px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15), 0 0 3px 0 rgba(0, 0, 0, 0.15);
}

.li:hover {
    background-color: #101214;
    color: white;
}

.no-border {
    border: none !important;
}

.list-it {
    /* border: 0.5px solid rgb(201, 201, 201); */
    font-size: 17px;
}

.hint {
    font-weight: 500;
    font-size: 12px;
}

.jml {
    font-size: 11px;
    color: white;
    padding: 2px 5px;
    display: inline-block;
    border-radius: 20px;
    height: 20px;
    text-align: center;
    right: 0;
    position: absolute;
    margin: 10px;
    margin-top: 2px;
    background-color: rgb(138, 138, 138);
}

.no {
    background-color: rgb(73, 73, 73);
    color: white;
    width: 27px;
    font-size: 17px;
    text-align: center;
    height: 27px;
    display: inline-block;
}

.m-3-custom {
    margin: 5px !important;
}

ol {
    padding-left: 15px;
}

.btn-outline-dark {
    margin-left: 5px;
    background-color: rgb(51, 51, 51);
    color: white;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.title-confirm {
    font-weight: bold;
}

.item-book {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.36);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15), 0 0 1px 0 rgba(0, 0, 0, 0.15);
}

.btn-orange {
    font-family: 'Noto Sans', sans-serif;
    background-color: orange;
    font-size: 12px;
    border: none;
    color: white;
    font-weight: 300;
    margin: 5px;
    padding: 2px 12px;
    width: 100px;
    height: 25px;
    box-shadow: 0 3px 3px 0 rgba(26, 26, 26, 0.158), 0 0 3px 0 rgba(27, 27, 27, 0.397);
}

.btn-acc {
    border: none;
    background-color: rgb(0, 149, 255);
    color: white;
    border-radius: 100px;
    font-size: 12px;
    display: inline-block;
    width: 30px;
    height: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

.fs-12 {
    font-size: 12px !important;
}

.mlr-auto {
    margin-left: auto;
    margin-right: auto;
}

.form-text {
    font-size: 12px;
    font-weight: bold;
    margin-top: 12px;
}

.prof {
    font-size: 14px;
    font-weight: 500;
}

.fok-14 {
    font-size: 50px;
    color: rgb(85, 178, 255);
}

.btn-ok {
    font-family: 'Noto Sans', sans-serif;
    background: rgb(85, 178, 255) !important;
    font-size: 12px;
    border: none;
    color: white !important;
    font-weight: 300;
    /* margin: 5px; */
    padding: 10px 12px 10px 12px !important;
    width: 150px !important;
    height: auto !important;
    box-shadow: none !important;
    margin-top: 10px;
    right: 0;
    font-weight: 500;
}

.btn-daftar {
    font-family: 'Noto Sans', sans-serif;
    background: rgb(85, 178, 255) !important;
    font-size: 12px;
    border: none;
    color: white !important;
    font-weight: 300;
    /* margin: 5px; */
    padding: 10px 12px 10px 12px !important;
    width: 150px !important;
    height: auto !important;
    box-shadow: none !important;
    margin-top: 10px;
    right: 0;
    font-weight: 500;
}

.btn-warn {
    font-family: 'Noto Sans', sans-serif;
    background: rgb(255, 82, 82) !important;
    font-size: 12px;
    border: none;
    color: white !important;
    font-weight: 300;
    /* margin: 5px; */
    padding: 10px 12px 10px 12px !important;
    width: 150px !important;
    height: auto !important;
    box-shadow: none !important;
    font-weight: 500;
}

.btn-warn:decline {
    background-color: rgb(204, 47, 47) !important;
}

.btn-file {
    font-family: 'Noto Sans', sans-serif;
    background: rgb(0, 144, 247) !important;
    font-size: 12px;
    border: none;
    color: white !important;
    font-weight: 300;
    /* margin: 5px; */
    padding: 10px 12px 10px 12px !important;
    width: 150px !important;
    height: auto !important;
    box-shadow: none !important;
    font-weight: 500;
}

.btn-file:hover {
    background-color: rgb(0, 86, 191) !important;
}

.btn-acc:hover {
    background: rgb(0, 91, 155);
}

.btn-decline {
    border: none;
    background-color: rgb(133, 133, 133);
    color: white;
    border-radius: 100px;
    font-size: 12px;
    display: inline-block;
    width: 30px;
    height: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

#namaTabel:hover {
    cursor: pointer;
    background-color: rgba(180, 180, 180, 0.226);
}

#jmlBuku {
    color: white;
}

#bookName {
    font-weight: 500;
}

.btn-gray {
    font-family: 'Noto Sans', sans-serif;
    background: rgb(135, 135, 135) !important;
    font-size: 12px;
    border: none;
    color: white !important;
    font-weight: 300;
    /* margin: 5px; */
    padding: 10px 12px 10px 12px !important;
    width: 150px !important;
    height: auto !important;
    box-shadow: none !important;
    font-weight: 500;
}

.no-pad-left {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.no-pad-right {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.btn-gray:hover {
    background-color: rgb(103, 103, 103) !important;
}

.txt {
    color: rgb(103, 103, 103);
}

.img-book {
    max-width: 200px;
}

.absolute {
    position: absolute;
}

.detail-text-profile {
    font-size: 15px;
    color: rgb(100, 100, 100);
    margin-bottom: 2px;
    font-weight: 500;
}

.btn-decline:hover {
    background-color: rgb(90, 90, 90);
}

.look {
    color: #00b8ff;
    cursor: pointer;
}

.look:hover {
    color: #0059ff;
}

.read-more {
    color: rgb(0, 94, 255);
    font-weight: 500;
    cursor: pointer;
}

.read-more:hover {
    color: rgb(0, 63, 171);
}

.unblokir-btn {
    border: 1px rgb(0, 89, 255) solid;
    font-family: 'Noto Sans', sans-serif;
    background: rgba(187, 187, 187, 0);
    font-size: 12px;
    color: rgb(0, 89, 255);
    font-weight: 500;
    /* margin: 5px; */
    padding: 6px 8px !important;
    width: 100px !important;
    height: auto !important;
    box-shadow: none !important;
}

.red {
    color: red;
    font-size: 12px;
}

.unblokir-btn:hover {
    border-color: transparent;
    color: white;
    background-color: rgb(0, 89, 255);
}

.blokir-btn {
    border: 1px red solid;
    font-family: 'Noto Sans', sans-serif;
    background: rgba(187, 187, 187, 0);
    font-size: 12px;
    color: red;
    font-weight: 500;
    /* margin: 5px; */
    padding: 6px 8px !important;
    width: 100px !important;
    height: auto !important;
    box-shadow: none !important;
}



.width-img {
    width: 120px;
}

.detail {
    font-size: 14px;
    color: #0099ff;
    cursor: pointer;
    font-weight: 500;
}

.detail:hover {
    color: #0059ff;
}

.blokir-btn:hover {
    border-color: transparent;
    color: white;
    background-color: red;
}

.btn-orange:hover {
    background-color: rgb(218, 142, 2);
}

.blue-price {
    color: rgb(0, 149, 255);
    font-weight: bold;
}


.icon-modal {
    color: rgb(0, 140, 255);
    font-size: 70px;
}

.modal-btn-ok {
    margin-top: 10px;
    padding: 6px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: white;
    border-radius: 3px;
    background-color: rgb(0, 140, 255);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.171);
}



.modal-btn-ok:hover {
    background-color: rgb(0, 98, 179);
}

.text-table {
    font-weight: 500;
}

.alink {
    font-weight: 500 !important;
}

.title-card {
    font-size: 30px !important;
}

.red {
    font-size: 30px !important;
}

.show {
    display: block;
}

.alink:hover {
    text-decoration: underline !important;
}

.border-btm {
    border-bottom: 0.5px solid rgba(138, 138, 138, 0.61);
    padding-bottom: 15px;
    margin-bottom: 15px;
}

@media screen and (min-width: 771px) {
    .border-cst {
        border-right: 0.5px solid rgb(194, 194, 194);
    }

    .col-modal-cst {
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }

    .main-cont {
        padding-top: 20px;
        padding-left: 50px;
        padding-right: 200px;
    }

    .border-bottom {
        margin-bottom: 20px;
    }

    .detail-text {
        font-weight: 500;
        margin-bottom: 20px;
    }

    .detail-text-2 {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 3px;
    }

    .detail-text-date {
        color: rgb(168, 168, 168);
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 3px;
    }

    .detail-text-blokir {
        color: rgb(56, 56, 56);
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 3px;
    }

    .detail-text-deskripsi {
        font-size: 14px;
    }
}

@media screen and (max-width: 991px) {
    .width-img {
        width: 100px;
    }
}

@media screen and (max-width: 770px) {

    .mlr-auto {
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .border-cst {
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 0.5px solid rgb(194, 194, 194);
    }

    .main-cont {
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .col-modal-cst {
        flex: 0 0 25%;
        max-width: 25%;
    }


    .detail-text-2 {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 3px;
    }

    .detail-text-date {
        color: rgb(168, 168, 168);
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 3px;
    }

    .detail-text-blokir {
        color: rgb(0, 0, 0);
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 3px;
    }

    .detail-text {
        margin-top: 5px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .m-3-custom {
        margin: 5px !important;
        max-width: 45%;
    }

    .side-bar {
        max-width: 0px;
    }

    .col-10 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .table-overflow {
        padding: 10px;
        overflow: scroll;
    }

    .f12 {
        font-size: 12px;
    }
}