.content {
    width: 90%;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    z-index: -1;
}

.content-width {
    max-width: 1100px;
}

.content-height {
    min-height: 500px;
}

.loading {
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.977);
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../assets/gif/loading3.gif");
}

#bookContent{
    padding: 0px;
}

.status {
    color: rgb(155, 155, 155);
}

.red {
    color: red;
}

.maximg {
    width: auto;
    height: auto;
    max-width: 135px;
    max-height: 135px;
}

.bc {
    font-weight: bold;
    font-size: 12px;
}

.bc-item:hover {
    color: rgb(30, 119, 253);
    cursor: pointer;
}

.col-3-custom {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 25%;
    max-width: 22%;
}

.border-bottom-gray {
    border-bottom: 0.7px solid #b8b8b8;
    padding-bottom: 20px;
}

.col-9-custom {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 70%;
    max-width: 70%;
}

#noDetailTransaksi {
    color: rgb(47, 138, 248);
}

.pembayaran-success {
    color: rgb(0, 160, 0);
    font-size: 12px;
    font-weight: bold;
}

.pembayaran-unsuccess {
    color: rgb(255, 35, 35);
    font-size: 12px;
    font-weight: bold;
}

.no-pemesanan {
    font-size: 12px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.title-book {
    font-size: 15px;
    font-weight: 500;
}

.title-content {
    border-bottom: 1px solid rgb(187, 187, 187);
    font-size: 25px;
    font-weight: 600;
    color: rgb(0, 170, 255);
}

.border-radius-4 {
    border-radius: 4px;
}

.width-img {
    max-width: 180px;
    max-height: 220px;
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    min-width: 60px;
}

.shadow-card {
    box-shadow: 0 2px 10px 1px rgba(48, 48, 48, 0.329);
}

.ul-item {
    padding: 0px;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

.btn-tambah {
    font-family: 'Noto Sans', sans-serif;
    background-color: orange;
    font-size: 12px;
    border: none;
    color: white;
    font-weight: 300;
    margin: 5px;
    padding: 2px 12px;
    width: 95%;
    height: 25px;
    box-shadow: 0 3px 3px 0 rgba(26, 26, 26, 0.158), 0 0 3px 0 rgba(27, 27, 27, 0.397);
    /* border-radius: 3px; */
}

.btn-tambah:hover {
    background-color: rgb(218, 142, 2);
}

.publish-book {
    color: rgb(110, 110, 110);
    font-size: 15px;
    font-weight: 500;
}

.deskripsi-content {
    display: block;
    /* or inline-block */
    text-overflow: ellipsis;
    /* word-wrap: break-word; */
    overflow: auto;
    max-height: 6em;
    line-height: 25px;
}

.price-detail {
    font-size: 14px;
    font-weight: bold;
}

.li-item {
    border-left: 3px solid rgb(255, 255, 255);
    font-size: 12px;
    list-style: none;
    border-bottom: 0.05px rgb(216, 216, 216) solid;
    padding: 8px 0px 12px 45px;
}

.active-sidebar {
    border-left: 3px solid rgb(0, 187, 255);
    color: rgb(0, 162, 255);
}

.author-book {
    font-weight: 500;
    font-size: 15px;
    color: orange;
}

.deskripsi {
    font-weight: 500;
    font-size: 15px;
}

.li-item:hover {
    border-left: 3px solid rgb(0, 187, 255);
    cursor: pointer;
}

p {
    margin: 0px;
}

.center {
    text-align: center;
    vertical-align: center;
}

.batas {
    margin-top: 70px;
}

.fixed {
    position: fixed;
    width: 100%;
    z-index: 3;
}

.bg-black {
    z-index: 4;
    position: none;
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.detail-content {
    font-size: 12px;
}

#tglTransaksi {
    color: black;
}

.detail-head {
    font-weight: 500;
    font-size: 14px;
    color: rgb(148, 148, 148);
}

.orange {
    font-weight: bold;
    color: rgb(255, 166, 0);
}

.blue-2{
    color: rgb(0, 106, 255);
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (min-width: 771px) {
    .title {
        margin-left: 5px;
        overflow: hidden;
        font-size: 14px;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 142px;
        font-weight: 700;
    }

    .title-book{
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .author-book {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .title-text {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 770px) {
    .title-book {
        margin-bottom: 20px;
    }

    .author-book {
        margin-bottom: 20px;
    }

    .title-text {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .title {
        font-size: 12px;
        margin-top: 2px;
        margin-left: 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: auto;
        max-width: 120px;
        font-weight: bold;
    }

    .col-3-custom {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-9-custom {
        position: relative;
        width: 100%;
        padding-right: 15px!important;
        padding-left: 15px!important;
        flex: 0 0 50%;
        max-width: 50%;
        margin-top: 20px;
    }
}