.li-item {
    font-size: 12px;
    list-style: none;
    font-weight: 400;
    margin-right: 10px;
    border-bottom: 0.05px rgb(216, 216, 216) solid;
    padding: 8px 15px 12px 15px;
}

ul{
    padding-left: 10px ;
}

ul li{
    display: block!important;
}


.li-item:hover{
    cursor: pointer;
    border-bottom: 0.05px rgb(216, 216, 216) solid;
    border-left: solid rgb(0, 162, 255) 3px; 
}

#display{
    max-width: 85px;
}

.active-sidebar{
    color: rgb(0, 162, 255);
    font-weight: bold;
    border-left: solid rgb(0, 162, 255) 3px !important; 
    border-bottom: 0.05px rgb(216, 216, 216) solid;
}

/* =================================== */