.bg-custom {
    background-color: rgb(28, 197, 248);
}

.modal-btn-ok {
    margin-top: 10px;
    padding: 6px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: white;
    border-radius: 3px;
    background-color: rgb(0, 140, 255);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.171);
}

.modal-btn-ok:hover {
    background-color: rgb(0, 98, 179);
}

#logout {
    cursor: pointer;
}

p {
    color: black;
}

nav {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#profile-item:hover {
    margin-top: 0px;
}

.nav-link {
    color: white !important;
}

.notif-bucket {
    color: white;
    background-color: red;
    position: absolute !important;
    bottom: 2px;
    right: 5px;
    display: none;
    font-size: 10px;
    height: 15px;
    width: 15px;
    text-align: center;
    border-radius: 15px;
}

.status-buku {
    font-size: 13px;
    color: rgb(155, 155, 155);
}

.justify-content-between {
    display: flex;
    justify-content: space-between;
}

.ul-keranjang {
    padding: 10px;
    margin: 0px;
}

.width-img-keranjang {
    width: 100%;
    margin: 1px;
}

.itm-keranjang {
    list-style: none;
}

hr.myline {
    margin: 2px !important;
}

.shadow-nav {
    border-top: 2px rgb(0, 183, 255) solid;
    box-shadow: 0 2px 10px 5px rgba(48, 48, 48, 0.15);
}

.input {
    border-radius: 5px;
    border: none;
    padding: 5px;
    padding-left: 10px;
    background-color: rgb(245, 252, 255);
    z-index: 2;
}

.center {
    text-align: center;
    vertical-align: center;
}

.input:focus {
    color: rgb(255, 166, 57);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.144);
}

.bold {
    font-weight: bold;
}

a {
    text-decoration: none !important;
}

.t14 {
    font-size: 14px;
}

.keranjang {
    padding: 5px 20px;
    font-size: 15px;
    font-weight: 700;
    color: rgb(0, 21, 30);
}

.t12 {
    font-size: 12px;
}

.mrl-auto {
    margin-left: auto;
    margin-right: auto;
}

.no-border {
    border: none !important;
}

.bg-blank-keranjang {
    background-image: url('../assets/bg/bucket-empty.png');
    background-size: 150px 150px;
    background-position: center;
    height: 150px;
    min-width: 100%;
    background-repeat: no-repeat;
}

.bg-blank-wishlist {
    background-image: url('../assets/bg/belakang.png');
    background-size: 150px 150px;
    background-position: center;
    height: 150px;
    min-width: 100%;
    background-repeat: no-repeat;
}

.btn-orange {
    font-family: 'Noto Sans', sans-serif;
    background-color: orange;
    font-size: 12px;
    border: none;
    color: white;
    font-weight: 300;
    margin: 5px;
    padding: 2px 12px;
    width: 100px;
    height: 25px;
    box-shadow: 0 3px 3px 0 rgba(26, 26, 26, 0.158), 0 0 3px 0 rgba(27, 27, 27, 0.397);
    /* border-radius: 3px; */
}

.btn-orange:hover {
    background-color: rgb(218, 142, 2);
}

.btn-blue {
    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(0, 162, 255);
    font-size: 12px;
    border: none;
    color: white;
    font-weight: 300;
    margin: 5px;
    padding: 2px 12px;
    width: 100px;
    height: 25px;
    box-shadow: 0 3px 3px 0 rgba(26, 26, 26, 0.158), 0 0 3px 0 rgba(27, 27, 27, 0.397);
    /* border-radius: 3px; */
}

.btn-blue:hover {
    background-color: rgb(0, 141, 223);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: block;
    max-height: 300px;
}

.navbar-icon {
    width: 30px;
    height: 30px;
}

.dropdown-content {
    z-index: 4;
    min-width: 150px;
    width: 100%;
    overflow: hidden;
    max-height: 0;
    position: absolute;
}

.arrow-up {
    width: 0;
    top: 50px;
    /* right: 100px; */
    /* margin-left: 100px; */
    height: 0;
    border-left: 5px solid rgba(255, 0, 0, 0);
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
    /* position: absolute; */
}

.arrow-up-prof {
    width: 0;
    top: 50px;
    /* right: 100px; */
    /* margin-left: 100px; */
    height: 0;
    border-left: 5px solid rgba(255, 0, 0, 0);
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
    /* position: absolute; */
}

.arrow-up-kategori {
    width: 0;
    top: 50px;
    /* right: 100px; */
    /* margin-left: 100px; */
    height: 0;
    border-left: 5px solid rgba(255, 0, 0, 0);
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
    /* position: absolute; */
}

.m-1-cust {
    margin: 1px;
}

.border-radius-7 {
    border-radius: 5px;
}

.box {
    background-color: #fff;
}

.title-keranjang-header {
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px !important;
}

.author-header {
    color: rgb(245, 135, 46);
    margin: 0px;
    margin-top: 5px;
    font-weight: 500;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sku-header {
    color: rgb(137, 123, 112);
    margin: 0px;
    margin-top: 2px;
    font-weight: 500;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.isbn-header {
    color: rgb(137, 123, 112);
    margin: 0px;
    margin-top: 2px;
    font-weight: 500;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price-header {
    color: rgb(0, 157, 255);
    margin: 0px;
    margin-top: 2px;
    font-weight: 500;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.trash-hov-profile {
    color: rgb(194, 194, 194);
}

.orange {
    color: rgb(255, 146, 4);
}

.trash-hov-profile:hover {
    cursor: pointer;
    color: rgb(144, 144, 144);
}

.no-padding {
    padding: 0 !important;
}

.title-keranjang {
    margin-top: 2px;
    margin-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 190px;
}

.dropdown-item {
    text-align: left;
    font-size: 13px;
    padding: 8px;
    /* padding-bottom: 5px; */
}

.dropdown-item:hover {
    background-color: rgb(223, 223, 223);
}

.nav-link:hover {
    cursor: pointer;
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
}

/* 
.top{
    font-size: 10px;
    background-color: rgb(0, 59, 59);;
} */

.nav-active {
    font-weight: bold;
    padding-bottom: 2px;
    color: #fff !important;
}

.btn-ya {
    font-family: 'Noto Sans', sans-serif;
    background: rgb(255, 176, 29) !important;
    font-size: 12px;
    border: none;
    color: white !important;
    font-weight: 300;
    /* margin: 5px; */
    padding: 10px 12px 10px 12px !important;
    width: 150px !important;
    height: auto !important;
    box-shadow: none !important;
}

.modal-market-body {
    font-size: 13px;
    font-weight: 500;
}

.btn-ya:hover {
    background-color: rgb(247, 140, 0) !important;
}

.btn-no {
    font-family: 'Noto Sans', sans-serif;
    background: rgb(42, 120, 255) !important;
    font-size: 12px;
    border: none;
    color: white !important;
    font-weight: 300;
    /* margin: 5px; */
    padding: 10px 12px 10px 12px !important;
    width: 150px !important;
    height: auto !important;
    box-shadow: none !important;
}

.btn-no:hover {
    background-color: rgb(0, 79, 216) !important;
}

.right {
    text-align: right;
}

.profile-mob {
    right: 0;
}

.mlr-auto {
    margin-left: auto;
    margin-right: auto;
}

#pemberitahuan {
    background-color: red;
    width: 15px;
    color: white;
    margin-left: 5px;
    padding: px;
    text-align: center;
    font-size: 10px;
    border-radius: 20px;
    position: absolute;
}

.blue:hover {
    color: rgb(0, 118, 214) !important;
}

.drop-active:hover {
    border-left: rgb(0, 140, 255) 2px solid;
}

.drop-active {
    color: rgb(43, 43, 43) !important;
    border-left: transparent 2px solid;
    font-weight: 400;
}

.cart-bg {
    background-image: url('../assets/else/peopleWithItems.png');
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
}

.wish-list:hover {
    color: rgb(235, 235, 235);
}

.price {
    margin-top: 2px;
    margin-left: 5px;
    font-size: 20px;
    color: rgb(255, 186, 82);
}

.btn-look {
    font-family: 'Noto Sans', sans-serif;
    background-color: orange;
    font-size: 15px;
    border: none;
    color: white;
    font-weight: 300;
    margin: 5px;
    padding: 5px 20px;
    width: 100px;
    box-shadow: 0 3px 3px 0 rgba(26, 26, 26, 0.158), 0 0 3px 0 rgba(27, 27, 27, 0.397);
}

.btn-look:hover {
    background-color: rgb(218, 142, 2);
}

@media screen and (min-width: 771px) {
    .notif-toko {
        background-color: red;
        width: 15px;
        color: white;
        margin-left: 5px;
        padding: px;
        text-align: center;
        font-size: 10px;
        border-radius: 20px;
        position: absolute;
        z-index: 5;
        bottom: -3px;
        left: 11px;
    }

    .notif-toko-drop {
        background-color: red;
        width: 15px;
        height: 15px;
        margin-top: 3px;
        color: white;
        margin-left: 5px;
        text-align: center;
        font-size: 10px;
        border-radius: 20px;
        position: absolute;
        z-index: 5;
    }

    .dropdown-content {
        top: 27px;
    }

    .col-9-custom {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .prof-header {
        min-width: 150px;
        padding: 5px 2px;
        background-color: transparent;
    }

    .search {
        margin-right: 10px;
    }

    .arrow-up {
        margin-left: auto;
        margin-right: 5px;
    }

    .arrow-up-prof {
        margin-left: 50px;
    }

    .arrow-up-kategori {
        margin-left: 20px;
    }
}

@media screen and (max-width: 770px) {
    .notif-toko {
        background-color: red;
        width: 15px;
        height: 15px;
        color: white;
        margin-left: 5px;
        padding: 3px;
        text-align: center;
        font-size: 10px;
        border-radius: 20px;
        position: absolute;
        z-index: 2;
        bottom: 11px;
        margin-left: 17px;
    }

    .navbar-collapse {
        padding-left: 10px;
    }

    .notif-toko-drop {
        background-color: red;
        width: 15px;
        height: 15px;
        padding: 2px;
        color: white;
        margin-left: 5px;
        text-align: center;
        font-size: 10px;
        border-radius: 20px;
        position: absolute;
        z-index: 5;
    }

    .col-9-custom {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0px;
    }

    .prof-header {
        background-color: transparent;
        visibility: hidden;
        position: absolute;
    }

    .cst-padding {
        padding-left: 4px;
    }

    .author {
        font-size: 10px;
        color: rgb(119, 119, 119);
        margin-top: 2px;
        margin-left: 5px;
        font-weight: 200;
    }

    .col-9-custom {
        max-width: 100%;
        margin: 0px;
        width: 100%;
    }

    .arrow-up {
        margin-left: auto;
        margin-right: 15px;
    }

}