.bg-black {
    z-index: 2;
    position: none;
    display: block;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

.white {
    color: white;
}

.fixed {
    position: fixed;
    width: 100%;
    z-index: 3;
}

.space-between {
    display: flex;
    justify-content: space-around;
}

p {
    margin: 0px;
}

.t25 {
    font-size: 35px !important;
}

a:hover {
    text-decoration: none;
}


.bg-cover {
    /* height: 730px; */
    background-repeat: no-repeat;
    background-size: 70%;
    height: 750px;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    padding-bottom: 100px;
}


.price {
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(0, 167, 228);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content-border {
    background-color: #fff;
    border: gray 1px solid;
    border-radius: 2px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15), 0 0 3px 0 rgba(0, 0, 0, 0.15);
}

.content {
    width: 90%;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    z-index: -1;
}

.col-2-mob-4-desk {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.content-width {
    max-width: 1100px;
}

.content-height {
    min-height: 10 00px;
}

.background-menu {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 450px;
    z-index: -99;
}

.batas {
    margin-top: 70px;
}

.content-title {
    font-weight: 500;
    font-size: 20px;
}

.col-5-custom {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    max-height: 352px;

}

.flex-container {
    padding: 0;
    margin-top: 10px;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 10px;
}

.border-radius-4 {
    border-radius: 4px;
}

.content-link {
    margin-top: 15px;
    color: rgb(0, 217, 255);
    font-size: 10px;
    font-weight: 500;
}

.width-img {
    max-width: 150px;
    max-height: 220px;
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    min-width: 60px;
}

.no-border {
    border: none !important;
}

.card-color {
    color: #00aeff;
    font-weight: 500;
}

.card-sub-color {
    margin-top: 10px;
    color: #9b9b9b;
    font-size: 12px;
    font-weight: 500;
}

.card-bg {
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.212);
    background-image: url("../assets/bg/blank2.jpeg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

.bg-index {
    background: linear-gradient(0deg, rgba(90, 123, 129, 0.3), rgba(102, 206, 255, 0.315)), url("../assets/bg/bg_home.png");
    height: 420px;
    position: absolute;
    width: 100%;
    z-index: -99;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 115%;
}

.bottom-gray {
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.452);
    padding-bottom: 7px;
}

.mt-15 {
    margin-top: 6px;
}

.bottom-gray:hover {
    color: rgba(0, 101, 252, 0.644);
}

.hide-arrow {
    visibility: hidden;
}

.show-arrow {
    visibility: visible;
}

.lh {
    line-height: 32px !important;
}

.cg {
    color: rgb(105, 105, 105);
    font-weight: 400;
}

.detail-font {
    font-size: 14px;
}

.f14 {
    line-height: 25px;
}

.active {
    padding-bottom: 7px;
    color: rgba(0, 101, 252, 0.644);
    font-weight: bold;
}

.no-border-bottom {
    border-bottom: none !important;
}

.logo-about {
    width: 100%;
}

.about-title {
    font-weight: 500;
}

.content-body {
    border-left: 0.5px solid rgba(145, 145, 145, 0.589);
    text-align: justify;
}

.about {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    z-index: -1;
    max-width: 1100px;
    min-height: 500px;
}

.akun {
    background-color: #e9e9e9;
}

.author-main {
    color: rgb(255, 132, 0);
    margin-top: 2px;
    font-weight: bold;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: auto;
}

div.item:hover {
    border: 1px rgba(0, 0, 0, 0.08) solid;
    box-shadow: 0 0 3px 0 rgba(99, 99, 99, 0.03), 0 0 3px 0 rgba(0, 0, 0, 0.03);
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
}

.blue-about {
    color: rgb(64, 166, 255);
}

.select {
    margin-top: 10px;
    width: 100%;
    transition: all 0.1s;
}

.select2 {
    margin-top: 10px;
    margin-bottom: 20px;
    transition: all 0.1s;

}

.select2:hover {
    margin-top: 0px;
    margin-bottom: 30px;
    box-shadow: 0 0 15px 5px rgba(99, 99, 99, 0.15), 0 0 5px 1px rgba(0, 0, 0, 0.02);
}

.author-book {
    font-weight: 500;
    font-size: 12px;
    color: orange;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select:hover {
    box-shadow: 0 0 15px 5px rgba(99, 99, 99, 0.15), 0 0 5px 1px rgba(0, 0, 0, 0.02);
    margin-top: 0px;
}


@media screen and (min-width: 771px) {
    .content-body {
        padding-left: 30px;
    }

    .min-height {
        background-color: rgba(255, 255, 255, 0.993);
        min-height: 260px;
        width: 100%;
        display: inline-block;
        margin-bottom: 20px;
    }


    .slider-container {
        max-height: 265px;
        min-height: 265px;
    }

    .container {
        min-width: 960px;
    }

    .f-12 {
        display: block;
        font-size: 12px;
        font-weight: 500;
    }

    .border-radius-200 {
        border-radius: 400px;
        height: 150px;
        width: 150px;
        margin-top: 54px;
        transition: all 0.1s;
    }

    .border-radius-200:hover {
        margin-top: 44px;
    }

    .more {
        font-size: 14px;
        font-weight: 500;
    }

    .cst-icon {
        padding: 25px 0px;
        font-size: 45px;
    }

    .logo {
        width: 300px;
    }

    .max-min {
        max-width: 150px;
        min-width: 120px;
    }

    .content-border {
        margin-bottom: 30px;
    }

    .title {
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: auto;
        font-weight: 700;
    }

    .flex-item {
        padding: 0px;
        width: 150px;
        height: auto;
        margin-top: 10px;
        color: white;
        font-weight: bold;
        font-size: 3em;

    }

    .col-2-mob-4-desk {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .col-5-custom {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
        min-width: 500px;
        margin-left: auto;
        margin-right: auto;

    }

    .mtb-20 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .about {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .hide2 {
        display: none;
    }
}

@media screen and (max-width: 770px) {
    .akun-mob-nav {
        font-weight: 500;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .buku {
        font-size: 14px;
        font-weight: 500;
    }

    .bg-logout {
        color: white;
        background-color: gray;
        padding: 10px;
        width: 100%;
    }

    .hide-border {
        border: 0px solid white !important;
    }

    a {
        color: black;
    }

    .ml-auto {
        color: rgb(187, 187, 187);
        margin-left: auto;
    }

    .h {
        display: none;
    }

    .show {
        margin: 0 !important;
    }

    .content-body {
        padding-right: 15px;
        padding-left: 15px;
    }

    .about {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .min-height {
        background-color: rgba(255, 255, 255, 0.993);
        min-height: 260px;
        width: 100%;
        display: inline-block;
        margin-bottom: 20px;
    }

    .f-12 {
        display: block;
        font-size: 12px;
        font-weight: 500;
    }

    .border-radius-200 {
        border-radius: 400px;
        height: 120px;
        width: 120px;
        margin-top: 54px;
        transition: all 0.1s;
    }

    .border-radius-200:hover {
        margin-top: 44px;
    }

    .cst-icon {
        padding: 35px 0px;
        font-size: 20px;
    }

    .logo {
        width: 300px;
    }

    .more {
        font-size: 1px;
        font-weight: 500;
    }

    .slider-container {
        max-height: 198px;
        min-height: 198px;
    }

    .logo {
        width: 200px;
    }

    .max-min {
        max-width: 150px;
        min-width: 90px;
    }

    .col-12 {
        margin-left: auto;
        margin-right: auto;
    }

    .author-main {
        font-size: 10px;
        margin-top: 2px;
        color: orange;
        font-weight: bold;
    }

    .hide {
        visibility: hidden;
        position: absolute;
    }

    .col-2-mob-4-desk {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-5-custom {
        flex: 0 0 100%;
        max-width: 500px;
        min-width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .title {
        font-size: 12px;
        margin-top: 2px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: auto;
        max-width: 120px;
        font-weight: bold;
    }

    .batas {
        margin-top: 20px;
    }

    .bg-index {
        height: 320px;
        background-size: 400%;
        background-position: top;
    }

    .white {
        color: rgb(255, 255, 255);
    }

    .bg-cover {
        padding: 30px 15px;
        background-size: 600%;
        height: 750px;
    }

    .flex-item {
        padding: 0px;
        width: 75px;
        margin: 2px;
        height: auto;
        margin-top: 10px;
        color: white;
        font-weight: bold;
        font-size: 3em;
    }

    .background-menu {
        height: 330px;
    }

    .content-border {
        margin-bottom: 30px;
    }

    .price {
        margin: 0px;
        font-size: 12px;
    }
}